*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../assets/images/bg-pattern-top.svg),
    url(../assets/images/bg-pattern-bottom.svg);
  background-position: top -530px left -740px, bottom -530px right -740px;
  background-repeat: no-repeat, no-repeat;
  background-color: $dark-cyan;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 600px) {
    background-position: top -550px left -450px, bottom -550px right -450px;
  }

  @media only screen and (min-width: 1200px) {
    background-position: top -490px left -350px, bottom -490px right -350px;
  }
}
